/* 共通 */
img {
    max-width: 100%;
}

html,
body {
    overflow-x: hidden;
}

/* ---------------- Font指定 ---------------- */
body {
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    font-feature-settings: 'palt';
    /* プロポーショナルメトリクス */
}

/* GoogleFont */

/* 大見出し用の明朝（A1明朝の代替） */
.shippori-mincho-bold {
    font-family: "Shippori Mincho", serif;
    font-weight: 700;
    font-style: normal;
}s

.shippori-mincho-extrabold {
    font-family: "Shippori Mincho", serif;
    font-weight: 800;
    font-style: normal;
}

/* 英数字目立つ箇所はoswaldを適用 */
.oswald {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/********** CTAボタン_ウインドウ右下固定 **********/
.cta-btn-window-side-fix {
    /* 500px以下で非表示 */
    width: 30vw;
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 99;
}

.cta-btn-window-side-fix img:hover {
    opacity: 0.5;
}

/********** CTAボタン大とサイドの2個に対し、キラッと光る効果 **********/

.ctabtn-big {
    overflow: hidden;
    /* 上に重ねたキラキラが右にはみ出すのを阻止 */
    position: relative;
    /* キラキラの開始位置を指定するため */
}

.cta-btn-window-side-fix::after,
.ctabtn-big::after {
    animation: 2.5s 0s shine linear infinite;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, .6) 50%, rgba(255, 255, 255, 0) 75%);
    content: '';
    height: 100%;
    left: -30%;
    position: absolute;
    top: 0;
    transform: skewX(-15deg);
    width: 100%;
    pointer-events: none;
    /* 上に重ねたキラキラがリンククリックを邪魔しているので */
}

@keyframes shine {
    20% {
        left: 100%;
    }

    100% {
        left: 100%;
    }
}

/********** FVcontainer（幅1100px） **********/
header {
    /* 最背面水面画像 PC版:表示/SP版：非表示 */
    width: 100vw;
    height: auto;
    padding-bottom: 100px;
    background-image: url(../imgs/PC_FVbacklarge.jpg);
    background-size: 2000px;
    background-position: top;
    background-repeat: no-repeat;
}

.FV-container {
    width: 1100px;
    margin: 0 auto;

}

.FV-image {
    width: 100%;
    height: auto;
    position: relative;
    padding-top: 10px;
    /* background-color: yellow; */
    /* other-over-items各アイテムはこのコンテナを基準にposition: absolute;で配置 */
}

.FV-image .sp-only {
    /* PC版はFV-girl_back.webpを表示、SP版はSP-FV.webpを表示 */
    display: none;
}

.other-over-items {
    width: 100%;
}

.right-items {
    width: 55%;
    position: absolute;
    bottom: -7%;
    right: 5%;
}

.left-items {
    width: 46%;
    position: absolute;
    bottom: 0%;
    left: 9%;
    z-index: 99;
    /* right-itemsが上に乗っているとリンククリックの邪魔をするので */
}


.flag img {
    width: 55%;
    margin: 0 0 1% -5%;
    filter: drop-shadow(5px 5px 10px #5a5a5a);
}

.catch-ctabtn {
    width: 100%;
    text-align: center;
    /* 子要素のcatch-Lをボタンと中央揃え */
    container-type: inline-size;
    /* 子要素のcatch-Lに相対Q数を割り当てるため */
}

.ctabtn-big img {
    margin-top: 1.5%;
}

.ctabtn-big img:hover {
    opacity: .5;
}

.catch-L {
    font-size: 7.2cqw;
    color: #fff;
    text-shadow: #17471d 0px 0 5px,
        #1b5021 0px 0 10px,
        #297c33 0px 0 15px,
        #297c33 0px 0 17px,
        #297c33 0px 0 20px,
        #24762d 0px 0 25px,
        #24762d 0px 0 27px;
    margin-bottom: 2%;

}

.sp-cta-btn-container {
    display: none;
}

/********** maincontainer **********/

/****** section01_アロエ成分+3in機能+洗浄力説明 ******/
.maincontainer {
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
}

.section01 {
    /*  アロエ成分+3in機能 */
    width: 100%;
    margin: 0 auto;
    margin-top: -90px;
}

.wash-container {
    margin-top: -50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3%;
    container-type: inline-size;
}

.wash-left .title-M-red {
    font-size: 36px;
    color: #c14b3f;
    letter-spacing: -0.09em;
    line-height: 1.5;
    margin-top: 45px;
}

.wash-text {
    font-size: 1.4rem;
    line-height: 1.9;
    margin-top: 30px;

}

.pc_br {
    display: block;
    /* タブレットでは改行タグを無効に */
}

.wash-right {
    width: 400px;
}

/****** section02・商品特長02/洗浄機能説明 ******/
.movie-container {
    container-type: inline-size;
}

.movie-titleandback {
    width: 100%;
    height: auto;
}

.tb_br {
    display: none;
    /* 768px以上では改行タグを無効に */
}

.section02 p {
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.9;
    padding: 30px 0 30px 0;
}

/* youtube埋め込み */
iframe.movie-youtube {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    max-width: 500px;
    display: block;
    margin: auto;
    margin-bottom: 80px;
}

/****** 原 料 ******/

.ingredient-container {
    width: 100vw;
    padding: 3% 0;
    background-color: rgba(136, 187, 143, 0.63);
    background-image: url(../imgs/ingredient_bk.webp);
    /* 丸い半透明白円ドロップシャドウ付き */
    background-size: auto 130%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.ingredient-container div {
    width: 950px;
    max-width: 100%;
    margin: 0 auto;
}

.disuse {
    width: 520px;
    margin: 0 auto;
    padding: 80px 0 130px 0;
}

/*********** Voice ***********/

.voice-container {
    /*一番外の青緑色あみ*/
    width: 1000px;
    /* height: 1400px; */
    margin: 0 auto;
    background-color: #6aacb4;
    padding-bottom: 60px;
    margin-bottom: 80px;
}

.voice-container-title {
    /*ふきだし背景*/
    width: 900px;
    margin: 0 auto;
    margin-bottom: 50px;
    position: relative;
}

.title-typo img {
    /*ふきだし内文字*/
    width: 145px;
    margin: 0 auto;
    position: absolute;
    top: -22px;
    right: 0;
    left: 0;
}

.voice-box {
    /*角丸白地アミ*/
    width: 800px;
    height: auto;
    padding: 40px 0;
    background-color: #ffff;
    border-radius: 30px;
    box-shadow: 5px 5px 15px #46757a;
    margin: 0 auto;
    margin-bottom: 40px;
    display: flex;
}

.voice-box-inner {
    /*角丸白地アミ内/レイアウト範囲（左右100pxアキ）*/
    width: 680px;
    height: auto;
    /* background-color: yellow; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reverse {
    /*角丸白地アミ2つ目のみフレックスボックスならび順が逆*/
    flex-direction: row-reverse;
}

.voice-photo-area {
    width: 35%;
    /* background-color: coral; */
}

.photo-and-ornament {
    /* background-color: #836ab4; */
    margin: 0 auto;
    position: relative;
    /*オーナメント位置指定用*/
}

.photo-and-ornament .ornament {
    /*キラキラあしらい.photo-and-ornamentに対しpositionで位置指定*/
    width: 16%;
    position: absolute;
    bottom: 30%;
    left: -3%;
    z-index: 99;
}

.photo-and-ornament .ornament02 {
    /*るんるんあしらい.photo-and-ornamentに対しpositionで位置指定*/
    width: 34%;
    position: absolute;
    top: 3%;
    left: -13%;
    z-index: 99;
}

.photo-and-ornament .ornament03 {
    /*ハートあしらい.photo-and-ornamentに対しpositionで位置指定*/
    width: 22%;
    position: absolute;
    top: 10%;
    right: 0;
    z-index: 99;
}

.woman-p {
    /* 女性写真1・3つ目と女性写真2つ目 */
    transform: rotate(-5deg);
    transform-origin: center;
    box-shadow: 5px 8px 20px rgb(203, 203, 203);
}

.woman-p-reverse {
    transform: rotate(5deg);
}

.voice-txt-area {
    width: 60%;
}

.voice-title-img img {
    height: 70px;
    width: auto;
    margin-bottom: 10px;
}

.voice-txt {
    font-size: 1.15rem;
    line-height: 1.7;
    text-align: justify;
}

.prof {
    text-align: right;
    margin-top: .3rem;
}


/*********** Q & A ***********/

.q-back-wave-top,
.q-back-wave-bottom {
    /* 上下の波々地あみ */
    width: 1000px;
    height: auto;
    margin: 0 auto;
}
.q-back-wave-bottom {
margin-top: -8px;}

.q-back-middle {
    /* 地あみ真ん中 */
    width: 1000px;
    height: auto;
    background-color: rgb(198, 223, 202);
    margin: 0 auto;
    padding: 80px;
}

.QA-title {
    /* 茶色見出し */
    width: 340px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.QA-block {
    margin-bottom: 20px;
}

.question-back-white,
.answer-back-white {
    /* QA白バー */
    width: 600px;
    border-radius: 20px;
    margin: 0 auto;
    background-color: #ffff;
    padding: 30px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.answer-back-white {
    border-radius: 0 0 20px 20px;
}

.Q-txt img {
    /* Qテキスト（画像） */
    height: 32px;
}

.Q-arrow {
    /* Q矢印 */
    width: 31px;
    transform: rotate(0deg);
    transition: .7s;
}

.Q-arrow:hover {
    /* Q矢印ホバー時 */
    opacity: 0.5;
}


/* Qオープン時挙動 ここから*/
.question-back-white.open {
    border-radius: 20px 20px 0 0;
}

.answer-back-white.open {
    border-radius: 0 0 20px 20px;
}

.question-back-white.open .Q-arrow {
    transform: rotate(180deg);
}

.answer-back-white {
    display: none;
    /* transition: .7s; */
}

.answer-back-white.open {
    display: block
        /*display: none;を解除*/
}

/* Qオープン時挙動 ここまで*/
.question-back-white:hover {
    opacity: .5;
}

.answer-txt {
    font-size: 1.15rem;
    line-height: 1.8
}

/*********** 商品詳細 ***********/

.product-details-container {
    /* 商品詳細全体背景あおみどり */
    width: 100vw;
    background-color: #6aacb4;
    padding: 10% 0;
    margin-top: 100px;
}

#details-box {
    /* 商品詳細かこみ画像。FVのCTAボタン移遷先 */
    width: 620px;
    margin: 0 auto;
    background-image: url(../imgs/product-details-box.webp);
    background-size: contain;
    background-repeat: no-repeat;
    aspect-ratio: 620 / 560;
    /* background-imageのアスペクト比を維持 */
    display: flex;
    /* contentsの内容を上下センターに */
    justify-content: center;
    align-items: center;
}

.contents {
    width: 100%;
    padding-top: 1cqh;
    /* background-color:blue; */
    container-type: inline-size;
    /* .フォントサイズ等をコンテナ基準で相対指定用 */
}

.contents .h3-title {
    /* かこみタイトル */
    text-align: center;
    padding-top: 3%;
    font-size: 5.8cqw;
    color: #2a7e34;
}

.h3-title::before {
    /* h3タイトル前後のライン */
    content: '';
    /*何も入れない*/
    display: inline-block;
    width: .8em;
    /*画像の幅*/
    height: 1.3em;
    /*画像の高さ*/
    background-image: url(../imgs/accent-l.webp);
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: bottom;
}

.h3-title::after {
    /* h3タイトル前後のライン */
    content: '';
    /*何も入れない*/
    display: inline-block;
    width: .8em;
    /*画像の幅*/
    height: 1.3em;
    /*画像の高さ*/
    background-image: url(../imgs/accent-r.webp);
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: bottom;
}

.photo-and-info {
    /* photoの塊 + infoの塊 */
    width: 87%;
    /* background-color: yellow; */
    margin: 0 auto;
    padding: 3% 0;
    display: flex;
    /* display: flex;で横並び */
    justify-content: space-between;
    align-items: end;
}

.product-photo {
    width: 23%;
}

.product-info {
    width: 75%;
    container-type: inline-size;
    /* .h5とh4のフォントサイズをコンテナ相対指定用 */
}

.product-info h5 {
    /* 【アロエ水配合クレンジング】 */
    font-size: 5.5cqw;
    text-align: left;
    font-weight: bold;
}

.product-info h4 {
    /* アロエマイルドクレンジングジェル */
    font-size: 8cqw;
    color: #2a7e34;
    letter-spacing: -0.1em;
    margin-top: .5cqh;
    margin-bottom: .5cqh;
}

.price-details img {
    width: 100%;
}

.product-info p {
    /* 内容量等 */
    font-size: 4.25cqw;
    line-height: 1.3;
    margin-top: -1cqh;
}

.addcart-btn {
    /* カートに入れるbtn */
    width: 86cqw;
    margin: 0 auto;
}

.addcart-btn img:hover {
    opacity: .5;
}

/*********** 企業info ***********/

footer {
    width: 100vw;
    color: #ffff;
    background-color: rgba(73, 73, 73, .9);
    text-align: center;
}

.corporation-info {
    padding: 4rem 0 6rem 0;
}

.corporation-info h4 {
    font-size: 1.3rem;
    letter-spacing: 0.3rem;
}

.corporation-info h3 {
    font-size: 2.5rem;
    padding-top: .8rem;
}

.contact {
    margin-top: 1.5rem;
}

.contact a img {
    width: 3rem;
    margin: 0 1rem;
}

.inquiry-form {
    width: 20rem;
    height: 2rem;
    background-color: #fff;
    border-radius: 1rem;
    margin: 0 auto;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 2rem;
    color: rgba(73, 73, 73, .9);
    margin-top: 2rem;
}

.inquiry-form:hover {
    opacity: 0.5;
}

/****************************************
レスポンシブ　840~1100pxまで
***************************************/

/********* FVcontainer_幅1100pxまで **********/

@media screen and (max-width:1100px) {


    header {
        width: 100%;
        background-image: url(../imgs/PC_FVbacklarge.jpg);
        background-size: 180% auto;
    }


    .FV-container {
        width: 100%;
    }

    .FV-image {
        width: 100%;
        height: auto;
        position: relative;
        /* other-over-items各アイテムはこのコンテナを基準にposition: absolute;で配置 */

    }

    /********** maincontainer **********/

    /* section01_アロエ成分+3in機能+洗浄力説明 */

    .maincontainer {
        width: 100%;
    }

    /* ******** wash-container *********/

    .wash-container {
        /** .wash-containerを縦2段組に **/
        margin-top: 0px;
        display: flex;
        flex-direction: column;
    }

    .wash-left .title-M-red {
        /** 縦2段組にしたことに伴いセンター揃えに **/
        font-size: 3.7cqw;
        text-align: center;
        margin-top: 1cqh;

    }

    .wash-text {
        margin-top: 20px;
        font-size: 2.5cqw;
        padding-left: 3cqw;
        padding-right: 3cqw;
        text-align: center;
    }

    .wash-right {
        width: 50%;
        margin: 0 auto;
        margin-top: 30px;
    }

    .tb_br {
        display: block;
        /*TB以下では改行タグを有効に */
    }

    .pc_br {
        display: none;
        /* PC以上では改行タグを無効に */
    }

    /* section02・商品特長02/洗浄機能説明 */

    .section02 p {
        font-size: 2.5cqw;
    }

    /*  原料 */
    .disuse {
        width: 53%;
        margin: 0 auto;
        padding: 60px 0 120px 0;
    }

    /*********** Voice ***********/

    .voice-container {
        /*一番外の青緑色あみ*/
        width: 100%;

    }

    .voice-container-title {
        /* ふきだし背景 */
        width: 100%;
        margin-bottom: 20px;
    }

    .title-typo img {
        /*ふきだし内文字*/
        width: 145px;
        top: -35px;
    }

    .voice-box {
        /*角丸白地アミ*/
        width: 85%;
        margin-bottom: 30px;
    }

    .voice-box-inner {
        /*角丸白地アミ内/レイアウト範囲*/
        width: 85%;
    }

    .voice-photo-area {
        width: 35%;
    }


    .photo-and-ornament .ornament {
        /*キラキラあしらい.photo-and-ornamentに対しpositionで位置指定*/
        width: 13%;
    }

    .photo-and-ornament .ornament02 {
        /*るんるんあしらい.photo-and-ornamentに対しpositionで位置指定*/
        width: 30%;
    }

    .photo-and-ornament .ornament03 {
        /*ハートあしらい.photo-and-ornamentに対しpositionで位置指定*/
        width: 18%;
    }

    .voice-txt-area {
        width: 60%;
    }



    /*********** Q & A ***********/
    .q-back-wave-top,
    .q-back-wave-bottom {
        /* 上下の波々地あみ */
        width: 100%;
    }

    .q-back-middle {
        /* 地あみ真ん中 */
        width: 100%;
        padding: 8%;
    }

    .question-back-white,
    .answer-back-white {
        /* QA白バー */
        width: 100%;
    }


    /*********** 企業info ***********/

    .corporation-info h4 {
        font-size: 1.2rem;
    }

    .corporation-info h3 {
        font-size: 2.3rem;
    }
}

/****************************************
レスポンシブ　839pxまで
***************************************/

@media (max-width: 839px) {
    .cta-btn-window-side-fix {
        width: 40vw;
    }

    /* ******** wash-container *********/

    .wash-left .title-M-red {
        /** 縦2段組にしたことに伴いセンター揃えに **/
        font-size: 4.0cqw;
        text-align: center;
        margin-top: 1cqh;

    }

    .wash-text {
        margin-top: 20px;
        font-size: 2.7cqw;
        padding-left: 3cqw;
        padding-right: 3cqw;
        text-align: center;
    }

    /* section02・商品特長02/洗浄機能説明 */

    .section02 p {
        font-size: 2.7cqw;
    }

    /*  原料 */
    .disuse {
        width: 56%;
    }


    /*********** 企業info ***********/

    .corporation-info h4 {
        font-size: 1rem;
    }

    .corporation-info h3 {
        font-size: 2.1rem;
    }
}


/****************************************
レスポンシブ　768pxまで
***************************************/

@media (max-width: 768px) {

    /*********** Voice ***********/
    .title-typo img {
        /*ふきだし内文字*/
        top: -38px;
    }

    .voice-container {
        padding-bottom: 70px;
    }

    .voice-box {
        width: 75%;
        border-radius: 20px;
    }

    .voice-box-inner {
        width: 100%;
        flex-direction: column;
        text-align: center;
    }

    .voice-photo-area {
        width: 43%;
        order: 2;
    }

    .photo-and-ornament .ornament {
        /*キラキラあしらい.photo-and-ornamentに対しpositionで位置指定*/
        width: 17%;
        bottom: 40%;
        left: -3%;
    }

    .photo-and-ornament .ornament02 {
        /*るんるんあしらい.photo-and-ornamentに対しpositionで位置指定*/
        width: 33%;
        top: 14%;
        left: -17%;
    }

    .photo-and-ornament .ornament03 {
        /*ハートあしらい.photo-and-ornamentに対しpositionで位置指定*/
        width: 22%;
        top: 24%;
        right: -8%;
    }

    .voice-txt-area {
        width: 83%;
        order: 1;
    }

    .woman-p,
    .woman-p-reverse {
        /* 女性写真1・3つ目と女性写真2つ目 */
        transform: none;
        margin-top: 25px;
    }

    .woman-p-reverse {
        transform: none;
    }

}

/****************************************
レスポンシブ　500〜639pxまで
***************************************/

@media screen and (max-width:639px) {
    .cta-btn-window-side-fix img {
        width: 18rem;
    }

    /********** FV *********/

    .flag img {
        width: 60%;
        margin: 0 0 1% -5%;
        filter: drop-shadow(5px 5px 10px #5a5a5a);
    }

    /********** wash-container *********/

    .wash-text {
        font-size: 2.9cqw;
    }

    /* section02・商品特長02/洗浄機能説明 */

    .section02 p {
        font-size: 2.9cqw;
    }

    /*  原料 */
    .disuse {
        width: 67%;
    }

    /*********** Voice ***********/

    .title-typo img {
        /*ふきだし内文字*/
        width: 120px;
        top: -40px;
    }

    .voice-box {
        /*角丸白地アミ*/
        width: 85%;
        margin-bottom: 30px;
    }

    .voice-box {
        width: 85%;
        padding: 30px 0;
    }

    .voice-box-inner {
        width: 100%;
        flex-direction: column;
        text-align: center;
    }

    .voice-photo-area {
        width: 50%;
        order: 2;
    }

    .voice-txt-area {
        width: 87%;
        order: 1;
    }

    .voice-txt {
        font-size: 1rem;
    }

    .woman-p,
    .woman-p-reverse {
        /* 女性写真1・3つ目と女性写真2つ目 */
        transform: none;
        margin-top: 15px;
        box-shadow: 3px 5px 10px rgb(203, 203, 203);

    }

    .woman-p-reverse {
        transform: none;
    }

    .voice-title-img img {
        height: 60px;
        width: auto;
    }

    /********** 商品詳細 **********/

    #details-box {
        /* 商品詳細かこみ画像。FVのCTAボタン移遷先 */
        width: 90%;
    }

    /*********** 企業info ***********/

    .corporation-info {
        padding: 3rem 0 7rem 0;
    }

    .corporation-info h3 {
        font-size: 2rem;
    }

    .contact {
        margin-top: 1rem;
    }

    .contact a img {
        width: 2.7rem;
        margin: 0 .8rem;
    }

    .inquiry-form {
        width: 22rem;
        height: 1.8rem;
        border-radius: 0.9rem;
        font-size: 1.2rem;
        line-height: 1.8rem;
        margin-top: 1.5rem;
    }

}

/****************************************
レスポンシブ　SP ~500pxまで
***************************************/

@media screen and (max-width:500px) {

    .cta-btn-window-side-fix {
        /* 500px以下で非表示 */
        display: none;
    }

    header {
        /* 最背面水面画像 */
        width: 100%;
        background-image: none;
    }

    .FV-container {
        width: 100%;
        /* padding-top: 10px; */
    }

    .FV-image {
        padding-top: 0;
    }

    .FV-image .pc-only {
        display: none;
    }

    .FV-image .sp-only {
        display: block;
        width: 100%;
        position: relative;
    }

    .other-over-items {
        display: none;
    }

    .sp-cta-btn-container {
        display: block;
        width: 86%;
        margin: 0 auto;
        position: absolute;
        bottom: -29%;
        right: 0;
        left: 0;
    }

    .catch-ML {
        font-size: 6.7cqw;
        color: #fff;
        text-shadow: #17471d 0px 0 3px,
            #1b5021 0px 0 7px,
            #297c33 0px 0 12px,
            #297c33 0px 0 15px,
            #297c33 0px 0 18px,
            #24762d 0px 0 22px,
            #24762d 0px 0 24px;
        margin-bottom: 2%;
    }

    .gold-bar {
        width: 70%;
        margin: 0 auto 2% auto;
    }

    /********** maincontainer **********/

    .section01 {
        /*  アロエ成分+3in機能 */
        margin-top: 20.5%;
    }

    .wash-left .title-M-red {
        /* 縦2段組にしたことに伴いセンター揃えに */
        font-size: 5.5cqw;
    }

    .wash-text {
        font-size: 1rem;
    }

    .tb_br {
        display: block;
    }

    .wash-right {
        width: 65%;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    /********** section02・商品特長02/洗浄機能説明 **********/

    .section02 p {
        font-size: 1rem;
    }

    /********** 原料 **********/

    .disuse {
        width: 80%;
        margin: 0 auto;
        padding: 30px 0 70px 0;
    }

    /*********** Voice ***********/

    .title-typo img {
        /*ふきだし内文字*/
        width: 100px;
        top: -45px;
    }

    /********** Q & A **********/

    .question-back-white,
    .answer-back-white {
        /* QA白バー */
        border-radius: 10px;
        padding: 20px 15px;
    }
    .answer-back-white {
        border-radius: 0 0 10px 10px;
    }

    .QA-title {
        /* 茶色見出し */
        width: 70%;
        margin-bottom: 20px;
    }

    .Q-txt img {
        /* Qテキスト（画像） */
        height: 26px;
    }

    /********** 商品詳細 **********/

    .product-details-container {
        margin-top: 40px;
    }

    #details-box {
        /* 商品詳細かこみ画像。FVのCTAボタン移遷先 */
        width: 92%;
    }

    .contents {
        padding-top: 1%;
    }

    .contents .h3-title {
        /* かこみタイトル */
        padding-top: 3%;
        font-size: 6cqw;
    }

    .photo-and-info {
        /* photoの塊 + infoの塊 */
        width: 87%;
        padding: 2.5% 0 2% 0;
        justify-content: space-between;
        align-items: end;
    }

    .product-info h5 {
        /* 【アロエ水配合クレンジング】 */
        font-size: 5.5cqw;
        text-align: left;
        font-weight: bold;
    }

    .product-info h4 {
        /* アロエマイルドクレンジングジェル */
        font-size: 7.8cqw;
        color: #2a7e34;
        margin-top: .1cqh;
        margin-bottom: .2cqh;
        line-height: 1.1;
    }

    .price-details img {
        width: 98%;
    }

    .product-info p {
        /* 内容量等 */
        font-size: 4.7cqw;
        margin-top: .5cqh;
    }

    .product-photo {
        width: 22%;
    }

    .product-info {
        width: 75%;
    }

    .product-info h5 {
        /* 【アロエ水配合クレンジング】 */
        font-size: 6.1cqw;
    }

    .product-info h4 {
        /* アロエマイルドクレンジングジェル */
        font-size: 8.5cqw;
    }

    .product-info p {
        /* 内容量等 */
        font-size: 4.7cqw;
        margin-top: -.2cqh;
    }

    /*********** 企業info ***********/

    .corporation-info {
        padding: 3rem 0 3rem 0;
    }

    .corporation-info h4 {
        letter-spacing: 0.15rem;
    }

    .corporation-info h3 {
        font-size: 1.8rem;
        padding-top: 0.5rem;

    }

    .contact {
        margin-top: 1rem;
    }

    .contact a img {
        width: 2.7rem;
        margin: 0 .8rem;
    }

    .contact a img {
        width: 2.3rem;
        margin: 0 .7rem;
    }

    .inquiry-form {
        width: 18rem;
        height: 1.8rem;
        border-radius: 0.9rem;
        font-size: 1.2rem;
        line-height: 1.8rem;
        margin-top: 1.5rem;
    }

}